header{
	background-color: rgb(212,92,12);
	height: 80px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

article{
	width: 100%;
	background-color: white;
}

nav{
	height: 200px;
	width: 100%;
}

.nadpis{
	font-size: 70px;
	font-weight: bold;
}

.logo{
	height: 100%;
	margin-left: 10%;
	float: left;
	display: block;
}

.idk{
	padding-top: 60px;
	float: right;
	text-align: right;
	margin-right: 13%;
}

.idk h1{
	font-size: 50px;
	font-weight: bold;
	font-style: italic;
	color: rgb(212,92,12);
}

.idk p{
	font-style: italic;
	font-size: 18px;
}

.kontakt{
	height: 45px;
	background-color: rgb(212,92,12);
	line-height: 45px;
}

.kontakt div p{
	font-weight: 600;
	color: black;
	font-size: 20px;
}

.phone{
	text-align: center;
	width: 50%;
	float: left;
}

.email{
	text-align: center;
	width: 50%;
	float: right;
}

.phone p{
	padding-left: 20%;
}

.email p{
	padding-right: 20%;
}

.produkty{
	width: 100%;
	text-align: center;
	margin: 2% 0;
	font-size: 24px;
	font-weight: 600;
}

.produkty p{
	font-size: 
}

.row {
	width: 80%;
	margin: 0 auto;
    display: flex;
    text-align: center;
}

.item{
    flex: 1;
    margin: 1% 0.5%;
}

.item img{
	width: 100%;
}

.item:hover{
	box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.7);
}

.item h2{
	font-weight: 900;
	font-size: 21px;
	padding: 10px 0;
}

.item p{
	font-size: 17px;
	padding-bottom: 15px;
}

.kosik{
	width: 75%;
	margin: 0 auto;
	font-size: 20px;
	line-height: 45px;
	margin-bottom: 10px;
	background-color: red;
	border-radius: 10px;
	background-color: rgb(212,92,12);
	color: black;
	cursor: pointer;
}

.kosik:hover{
	color: white;
	background-color: #E67326;
}

.cart{
	box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.22);
	font-size: 25px;
	position: fixed;
	bottom: 7%;
	right: 3.5%;
	padding: 15px;
	border-radius: 50%;
	background-color: white;
	color: black;
}

footer{
	margin-top: 5%;
	background-color: black;
	color: white;
	width: 100%;
	text-align: center;
}

footer p{
	padding: 10px;
}

.overlay {
  	height: 100%;
  	width: 0;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: rgb(0,0,0);
  	background-color: rgba(0,0,0, 0.6);
  	overflow-x: hidden;
}

.overlay-content {
  	position: relative;
  	top: 25%;
  	width: 50%;
  	height: 50%;
  	text-align: center;
  	margin-top: 30px;
  	background-color: white;
  	margin: 0 auto;
  	border-radius: 10px;
}

.closebtn{
	position: absolute;
	color: rgb(212,92,12);
  	text-decoration: none;
  	font-size: 50px;
  	right: 25.5%;
  	top: 24.5%;
  	z-index: 101;
}

.obrazokKosik{
	height: 100%;
	width: 50%;
	float: left;	
}

.obrazokKosik img{
	width: 80%;
	position: sticky;
	left: 20%;
	top: 33%;
}

.info{
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
}

.info h2{
	font-size: 25px;
	font-weight: 900;
	padding: 50px 0 80px 0;
}

.info p, .info label{
	font-size: 18px;
	text-align: left;
	padding: 10px;
	display: block;
	font-weight: 600;
}

input[type=number] {
	width: 15%;
	font-size: 18px;
}

input[type=submit] {
	position: sticky;
	width: 30%;
	left: 65%;
	top: 68.5%;
	font-size: 16px;
	padding: 6.5px;
	font-weight: 300;
	border-radius: 5px;
	background-color: rgb(212,92,12);
	cursor: pointer;
	color: white;
}

input[type=submit]:hover{
	background-color: #E67326;
}

@media (min-width: 700px) and (max-width: 1025px){
	.logo{
		margin-left: 6%;
	}

	.idk{
		margin: 0;
		padding-right: 8%;
	}

	.row{
		display: inline-block;
		margin-left: 10%;
	}

	.item{
		display: inline-block;
		width: 48.2%;
	}

	.kosik{
		width: 60%;
	}

	.cart{
		font-size: 22px;
	}

	.overlay-content{
		width: 75%;
	}

	.obrazokKosik img{
		width: 100%;
	}

	.closebtn{
  		right: 14%;
	}

	input[type=submit] {
		left: 75%;
	}
}

@media (max-width: 699px){
	
	header{
		height: 60px;
	}

	.nadpis{
		font-size: 55px;
	}

	nav{
		height: 150px;
	}

	.idk h1{
		font-size: 30px;
	}

	.logo{
		margin-left: 0;
	}

	.idk{
		margin-right: 2%;
		float: none;
		padding-top: 30px;
	}

	.kontakt{
		height: 70px;
		line-height: 35px;
	}

	.phone{
		width: 100%;
		border-bottom: 1px solid black;
	}

	.email{
		width: 100%;
		float: none;
	}

	.phone p, .email p{
		padding: 0;
	}

	.row{
		display: block;
	}

	.item{
		display: block;
		width: 80%;
		margin: 0 auto
	}

	.cart{
		font-size: 18px;
	}

	.overlay-content{
		width: 100%;
	}

	.obrazokKosik{
		display: none;
	}

	.info{
		width:100%;
	}

	.info h2{
		font-weight: 900;
	}

	.info p, .info label{
		padding-left: 5%;
	}

	.closebtn{
  		right: 1%;
	}

	.info h2{
		padding: 50px 0 50px 0;
	}
}
